<div class="container">
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Criar uma Conta!</h1>
                    </div>
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>

                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="natural_person_name" class="form-control-label">Nome</label>
                                <input type="text" class="form-control form-control-user" id="natural_person_name" name="natural_person[name]" placeholder="Nome">
                            </div>
                            <div class="col-sm-6">
                                <label for="natural_person_last_name" class="form-control-label">Sobrenome</label>
                                <input type="text" class="form-control form-control-user" id="natural_person_last_name" name="natural_person[last_name]" placeholder="Sobrenome">
                            </div>
                        </div>

                        <div class="form-group">
                            <%= f.label :email, class: "form-control-label" %>
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user", id: "exampleInputEmail", placeholder: "Endereço de Email" %>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <%= f.label :password, class: "form-control-label" %>
                                <% if @minimum_password_length %>
                                    <em>(<%= @minimum_password_length %> caracteres mínimos)</em>
                                <% end %><br />
                                <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-user", id: "exampleInputPassword", placeholder: "Senha" %>
                            </div>
                            <div class="col-sm-6">
                                <%= f.label :password_confirmation, class: "form-control-label" %>
                                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-user", id: "exampleRepeatPassword", placeholder: "Repita a Senha" %>
                            </div>
                        </div>

                        <div class="actions">
                            <%= f.submit "Registrar Conta", class: "btn btn-primary btn-user btn-block" %>
                        </div>
                    <% end %>

                    <hr>
                    <div class="text-center">
                        <a class="small" href="forgot-password.html">Esqueceu a Senha?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="login.html">Já tem uma conta? Faça o Login!</a>
                    </div>
                    <%= render "devise/shared/links" %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>