<div id="<%= dom_id natural_person %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= natural_person.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= natural_person.last_name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this natural person", natural_person, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this natural person", edit_natural_person_path(natural_person), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
