<div id="<%= dom_id fisica %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Pessoa:</strong>
    <%= fisica.pessoa_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cpf:</strong>
    <%= fisica.cpf %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this fisica", fisica, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this fisica", edit_fisica_path(fisica), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
