<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> <!--trecho desabilitado pelo start.sh-->

    <!-- Custom fonts for this template-->
    <link href="/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/startbootstrap-sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">
  </head>
  <body id="page-top">
      <div id="wrapper">
        <% if request.path != "/users/sign_in" && request.path != "/users/sign_up" && request.path != "/users/password/new" %>
          <%= render 'layouts/shared/sidebar' %>
        <% end %>
        <div id="content-wrapper" class="d-flex flex-column">
          <% if request.path != "/users/sign_in" && request.path != "/users/sign_up" && request.path != "/users/password/new"%>
            <%= render 'layouts/shared/topbar' %>
          <% end %>
          <!-- Main Content -->
          <div id="content">
            <%= render 'layouts/shared/modal' %>
            <div class="container-fluid">
              <%= yield %>
            </div>
          </div>
          <%= render 'layouts/shared/footer' %>
        </div>
      </div>
  </body>
</html>